# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env

# Database / local state (don't commit local DB)
flightbooker.db

# editor/IDE
.vscode/
.idea/

# repl.it / replit local state if you don't want to commit
.local/
